<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
    {% if length %}
        <h2>Результат поиска фильма: {{ title_ }}</h2>
        <p>Название: {{ film.title }}</p>
        <p>Страна: {{ film.country }}</p>
        <p>Год выхода: {{ film.release_year }}</p>
        <p>Жанр: {{ film.genre }}</p>
        <p>Краткое содержание: {{ film.description }}</p>
    {% else %}
        <h2>Результат поиска фильма: {{ title_ }}</h2>
        <p>К сожалению, такого фильма в коллекции нет</p>
    {% endif %}
</body>
</html>