<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
    <h2>Результат поиска фильмов с {{ year_from }} по {{ year_to }} годы</h2>
    {% if length %}
        {% for film in films %}
            <p>Название: {{ film.title }}</p>
            <p>Год выхода: {{ film.release_year }}</p>
            <p>---------------------------------------------</p>
        {% endfor %}
    {% else %}
        <p>К сожалению, таких фильмов в коллекции нет</p>
    {% endif %}
</body>
</html>